body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    background: #ebebeb url("/images/gradient.jpg") repeat-x left top;
}

div.main {
  height: 100%;
  width: 960px;
  margin: auto;
}

div.header {
  width: 298px;
  height: 28px;
  border: 1px solid red;
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  line-height: 30px;
  font-size: 24px;
  font-weight: bold;
}

div.task {
  border: 1px solid green;
  width: 298px;
  height: 28px;
  text-align: left;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  line-height: 30px;
  font-size: 12px;
}

div.footer {
  border: 1px solid blue;
  width: 298px;
  height: 28px;
}

div.footer input {
  width: 24px;
  height: 24px;
  margin: 3px;
  padding 0;
  border-radius: 5px;
}

div.newTask {
  border: 1px solid grey;
  width: 298px;
  height: 58px;
}
div.newTask div {
  font-family: "Courier New", Courier, monospace;
  width: 298px;
  height: 29px;
}
div.newTask div input {
  font: inherit;
}
div.newTask div input#description {
  width: 220px;
  margin: 3px;
}
div.newTask div input#time {
  width: 100px;
  margin: 3px;
}


div { padding:0; margin:0; }
p { margin: 0 0 8px 0; line-height: 140%; }
h1, h2, h3, h4, h5 { margin: 5px 0; }
code { font-family: "Courier New", Courier, monospace; }
a { color: #444; }
a:visited { color: #888; }
a:hover { color: #000; }
li { line-height: 120%; margin-bottom: 8px; }

#page { width: 90%; margin: auto; }
#page:not(.edit) .if_edit { display: none; }

#page-heading {
    border-bottom: 2px solid black;
    padding-bottom: 4px;
    position: relative;
    width: 100%;
}

span.menu-bar {
    position: absolute;
    display: block;
    bottom: 3px;
    right: 0;
    color: gray;
    font-size: 0.5em;
    text-align: right;
}

#inputBlock { width: 48%; float: right; }
#page.edit #outputBlock { width: 48%; float: left; margin: 0; }

#output pre {
    border: 2px solid gray;
    display: block;
    background-color: #F5F5DC;
    padding: 5px 10px;
    overflow: hidden;
}

#output pre.printed {
    color: white;
    background-color: black;
}

#output table {
    border-collapse: collapse;
    border: 1px solid #36362E;
    margin: 0 0 8px 0;
}

#output th {
    border: 1px solid #36362E;
    padding: 5px;
    text-style: bold;
    color: white;
    background-color: #69695A;
    text-align: center;
}

#output td {
    border: 1px solid #36362E;
    padding: 5px;
    background-color: #F5F5DC;
}

textarea {
    font-family: "Courier New", Courier, monospace;
    font-size: inherit;
    width: 100%;
}

#footer {
    clear: both;
    margin: 10px 0;
    text-align:center;
}
