body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  background: #ebebeb url("/images/gradient.jpg") repeat-x left top;
}

div { padding:0; margin:0; }
p { margin: 0 0 8px 0; line-height: 140%; }
h1, h2, h3, h4, h5 { margin: 5px 0; }
code { font-family: "Courier New", Courier, monospace; }
a { color: #444; }
a:visited { color: #888; }
a:hover { color: #000; }
li { line-height: 120%; margin-bottom: 8px; }

div.task-list-header { text-align: center; border-bottom: 2px solid gray; }

div.task.edit .if-not-edit { display: none; }
div.task:not(.edit) .if-edit { display: none; }

div.task .content {
  background-color: #f9f6a8;
  height: 50px;
  padding: 5px;
  margin: 5px;
  box-shadow: 4px 4px 4px #ddd;
  -webkit-transition: -webkit-transform 1.0s ease-out;
}

div.task.new .content {
  color: #aaa;
}

div.task textarea {
  width: 95%;
  height: 50px;
  padding: 5px;
  margin: 5px;
  font-family: inherit;
  font-size: inherit;
}

#footer {
  border-top: 2px solid gray;
  padding-top: 10px;
  margin-top: 10px;
  text-align: center;
}