/* CSS reset from Blueprint */
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer,
header, hgroup, nav, section {
  margin:0;padding:0;border:0;
  font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;
}

article, aside, dialog, figure, footer, header, hgroup, nav, section {display:block;}
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
a:focus{outline:1px dotted;}

/* ================ */
/* = The 1Kb Grid = */     /* 16 columns, 40 pixels each, with 20 pixel gutter */
/* ================ */

.grid_1 { width:40px; }
.grid_2 { width:100px; }
.grid_3 { width:160px; }
.grid_4 { width:220px; }
.grid_5 { width:280px; }
.grid_6 { width:340px; }
.grid_7 { width:400px; }
.grid_8 { width:460px; }
.grid_9 { width:520px; }
.grid_10 { width:580px; }
.grid_11 { width:640px; }
.grid_12 { width:700px; }
.grid_13 { width:760px; }
.grid_14 { width:820px; }
.grid_15 { width:880px; }
.grid_16 { width:940px; }

.column {
	margin: 0 10px;
	float: left;
	display: inline;
}
.row {
	width: 960px;
	margin: 0 auto;
}
.row .row {
	margin: 0 -10px;
	width: auto;
	display: inline-block;
}

.row#top,
#top .column {
  overflow: visible;
}

/* End 1kb Grid */

body {
  font-family:  helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background: #EBEBEB url('/images/bodybg.jpg');
}

h1 { font-size: 24px; margin: 18px 5px; color: #777; }
h2 { font-size: 18px; }
h3 { margin-bottom: 1em;}
h1, h2, h3 { font-weight: bold; }

a { color: #069; text-decoration: none; }
a:hover, a:focus { text-decoration: underline; }

code { font-family: "Courier New", Courier, monospace; }
li { line-height: 120%; margin-bottom: 8px; }

.logo {
  background: url('/images/panda-header.png') top left no-repeat;
  padding-left: 165px;
  padding-top: 65px;
  line-height: 36px;
  color: #777;
  font-size: 36px;
  font-weight: bold;
}

#footer {
  border-top: 2px solid gray;
  padding: 10px 0;
  margin-top: 10px;
  text-align: center;
}

.box {
  padding: 7px;
  margin: 0px 4px 4px 0px;
  background: #fafafa;
  background: rgba(255, 255, 255, 0.7);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
