<<<<<<< HEAD
/* CSS reset from Blueprint */
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
article, aside, dialog, figure, footer, header, hgroup, nav, section {display:block;}
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
a:focus{outline:1px dotted;}

body, textarea {
  font-family:  helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background: #EBEBEB;
}

h1 {
  font-size: 24px;
  margin-bottom: 18px;
  color: #777;
}

h1, h2 {
  font-weight: bold;
}

h2 {
  font-size: 18px;
}

h3 { 
  font-size: 14px; 
  line-height: 18px;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

a,
a:visited,
a:hover,
a:focus {
  color: #069;
}

a,
a:visited {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

#footer {
  border-top: 2px solid gray;
  padding: 10px 0;
  margin-top: 10px;
  text-align: center;
}

input[type='text'] {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 4px 5px;
  margin: 0px;
  font-size: 14px;
}

input[type='text']:focus {
  -webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.5);
  -moz-box-shadow: 0 0 12px rgba(51, 204, 255, 0.5);
  box-shadow: 0 0 12px rgba(51, 204, 255, 0.5);
  border: 1px solid rgba(51, 204, 255, 0.75);
  outline: 0;
}