h2.task-header {
  color: #514721;
  background-color: #fff6bf;
  border-bottom: 2px dotted #514721;
  padding: 3px 7px;
  -webkit-border-top-left-radius: 9px;
  -webkit-border-top-right-radius: 9px;
  -moz-border-radius-topleft: 9px;
  -moz-border-radius-topright: 9px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.task-group {
  background: #fff;
  padding: 7px;
  -webkit-border-bottom-right-radius: 9px;
  -webkit-border-bottom-left-radius: 9px;
  -moz-border-radius-bottomright: 9px;
  -moz-border-radius-bottomleft: 9px;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
}

.box {
  margin: 0px 3px 18px 3px;
  border: 2px solid #514721;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

h1 {
  margin: 18px 12px;
}

.task {
  margin-left: 24px;
}

.done {
  text-decoration: line-through;
  color: #777;
}

.action {
  float: left;
}

#add-task {
  margin-top: 9px;
  display: block;
}

.promote {
  width: 16px;
  height: 16px;
  background: url('../images/up-arrow.png');
  display: block;
}

.icon, 
.add-button {
  opacity: 0.5;
}

.icon:hover,
.icon:focus,
#add-task:hover .add-button,
#add-task:hover .add-button:focus {
  opacity: 0.8;
}

.task-group {
  line-height: 16px;
}

.task {
  padding-bottom: 6px;
}

a.icon:hover {
  text-decoration: none;
}

#new-task {
  box-sizing: border-box;
  width: 100%;
}

#new-task-container {
  margin-right: 12px;
}