/* ======================================================
   Task List Styles
   ====================================================== */

h2.task-header {
  background: #333;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#414141), to(#1D1D1D));
  background: -moz-linear-gradient(0% 100% 90deg, #1D1D1D, #414141);
  color: #FFF;
  padding: 6px 14px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.task-list { padding: 14px 7px; }
#working-tasks { min-height: 50px; }
#new-tasks { padding-bottom: 0; }
#ready-tasks { padding-top: 0; }
#done-tasks .description { text-decoration: line-through; color: #777; }


/* ======================================================
   Side-bar Styles
   ====================================================== */

#cheat h3 { margin-bottom: 0; }
#cheat .cheats { margin-bottom: 1em; }

#cheat div {
  font-size: 90%;
  color: #666;
}

/* ======================================================
   Individual Task Styles
   ====================================================== */

div.task.edit .if-not-edit { display: none; }
div.task:not(.edit) .if-edit { display: none; }

#working-tasks div.task { background-color: #C0FFAC; }
#working-tasks .promote { background: url('/images/down-arrow.png'); }
#new-tasks .check, #new-tasks .icon { display: none; }
#new-tasks .content { color: #aaa; }
#done-tasks div.task { background-color: #D5EDF8; }

div.task {
  position: relative;
  background-color: #F9F6A8;
  min-height: 50px;
  padding: 5px 24px 5px 24px;
  margin-bottom: 14px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

div.task .icon {
  position: absolute;
  display: none;
  width: 16px;
  height: 16px;
  opacity: 0.5;
  cursor: pointer;
}
div.task:hover .promote, div.task:hover .delete { display: block; }
div.task .icon:hover, div.task .icon:focus { opacity: 0.8; }

div.task .promote {
  background: url('/images/up-arrow.png');
  bottom: 6px;
  left: 6px;
}

div.task .delete {
  background: url('/images/remove.png');
  top: 6px;
  right: 6px;
}

div.task .check {
  position: absolute;
  margin: 0;
  top: 7px;
  left: 6px;
}

/* REVIEW: Need do we need edit-container? */
div.task .edit-container {
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 7px;
  width: 100%;
}

div.task textarea {
  width: 100%;
  height: 60px;
  padding: 5px 24px 15px 24px;
  font-family: inherit;
  font-size: inherit;
  resize: none;
  box-sizing: border-box;
}

div.task .assigned {
  position: absolute;
  width: 100px;
  bottom: 2px;
  right: 7px;
  font-size: 75%;
  color: red;
  text-align: right;
}

div.task .tags {
  position: absolute;
  width: 100px;
  bottom: 2px;
  left: 24px;
  font-size: 75%;
  color: green;
}

div.task .overdue {
  color: red;
  font-weight: bold;
}
