h2.task-header {
  background: #333;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#414141), to(#1d1d1d));
  background: -moz-linear-gradient(0% 100% 90deg, #1d1d1d, #414141);
  color: #fff;
  padding: 6px 14px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#working-tasks .promote { background: url('/images/down-arrow.png'); }
#ready-tasks .promote { background: url('/images/up-arrow.png'); }
#done-tasks .promote { display: none; }

#working-tasks { min-height: 50px; }

#done-tasks .description { text-decoration: line-through; color: #777; }

.action {
  position: absolute;
  top: 6px;
  left: 6px;
  line-height: 16px;
  width: 16px;
  height: 16px;
}

.promote {
  width: 16px;
  height: 16px;
  background: url('../images/up-arrow.png');
  display: block;
}

.icon { cursor: pointer; }
.icon, .add-button {
  opacity: 0.5;
}

.icon:hover, .icon:focus,
#add-task:hover .add-button,
#add-task:hover .add-button:focus {
  opacity: 0.8;
}

.task-group { line-height: 16px; }

a.icon:hover { text-decoration: none; }

#new-task {
  box-sizing: border-box;
  width: 100%;
}

#new-task-container {
  margin-right: 12px;
}

.delete {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 6px;
  right: 6px;
  background: url('/images/remove.png');
}

.if-not-edit {
  margin: 0px;
}

input[type='checkbox'] {
  margin: 0px 0px 0px 2px;
}

.promote {
  position: absolute;
  bottom: 6px;
  left: 6px;
}

.task {
  position: relative;
}

.promote,
.delete {
  display: none;
}

.task:hover .promote,
.task:hover .delete {
  display: block;
}

.edit-container {
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 7px;
  width: 100%;
}

div.task-list-header { text-align: center; border-bottom: 2px solid gray; }

div.task.edit .if-not-edit { display: none; }
div.task:not(.edit) .if-edit { display: none; }

div.task {
  position: relative;
  background-color: #f9f6a8;
  height: 50px;
  padding: 5px 24px 5px 24px;
  margin-bottom: 14px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

#working-tasks div.task { background-color: #c0ffac; }

.task-list { padding: 14px 7px; }

div.task .assigned {
  font-size: 75%;
  color: red;
  width: 100px;
  text-align: right;
  position: absolute;
  padding-right: 7px;
  padding-bottom: 2px;
  bottom: 0;
  right: 0;
}


div.task textarea {
  width: 100%;
  height: 60px;
  padding: 5px 24px 15px 24px;
  font-family: inherit;
  font-size: inherit;
  resize: none;
  box-sizing: border-box;
}

#new .content { color: #aaa; }
