ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{
	margin:0;
	padding:0;
}
ul{
	list-style:none;
}
fieldset{
	border:0;
}
a,a:link,a:visited,a:hover{
	text-decoration:none;
}
a:focus,a:hover{
	text-decoration:underline;
}
a img{
	border:0;
}
.clear{
	clear:both;
}
body{
	position:relative;
	background: url(../images/bodybg.jpg);
	color:#000;
	font:62.5% Helvetica,Arial,sans-serif;
}

#header{
	width: 960px;
	height: 169px;
	margin: 0px 0px 25px 0px;
}

#logo{
	display: inline-block;
	width: 237px;
	height: 38px;
	float: left;
	margin: 38px 0px 0px 20px;
	text-indent: -999999px;
	background: url(../images/logo.png) no-repeat;
}

#social{
	display: inline;
	width: 229px;
	height: 44px;
	float: right;
	padding: 7px 0px 0px 15px;
	margin: 32px 12px 0px 0px;
	background: url(../images/social.png) no-repeat;
}

#social ul li{
	float: left;
}

#social ul li a{
	text-indent: -999999px;
}

#social ul li#digg a{
	display: block;
	width: 34px;
	height: 34px;
	margin: 0px 11px 0px 0px;
}

#social ul li#dell a{
	display: block;
	width: 34px;
	height: 34px;
	margin: 0px 11px 0px 0px;
}

#social ul li#talk a{
	display: block;
	width: 34px;
	height: 34px;
	margin: 4px 10px 0px 0px;
}

#social ul li#stumble a{
	display: block;
	width: 35px;
	height: 36px;
	margin: 0px 9px 0px 0px;
}

#social ul li#rss a{
	display: block;
	width: 35px;
	height: 36px;
}

#navigation{
	width: 899px;
	height: 64px;
	padding: 0px 26px 0px 35px;
	margin: 23px 0px 0px 0px;
	background: url(../images/navigationbg.png) bottom repeat-x;
}

#navigation ul{
	float: left;
}

#navigation ul li{
	float: left;
	height: 64px;
}

#navigation ul li a{
	display: inline-block;
	height: 64px;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	padding: 0px 20px 0px 0px;
	background: url(../images/li_bg.gif) left top no-repeat;
}

#navigation ul li.no_bg a{
	background: none;
}

#navigation ul li a span{
	display: inline-block;
	padding: 22px 0px 0px 19px;
	height: 42px;
	cursor: pointer;
	color: #fff;
}

#navigation ul li a:hover{
	text-decoration: none;
	background: url(../images/right_door.jpg) right top no-repeat;
}

#navigation ul li a:hover span{
	color: #353535;
	text-decoration: none;
	background: url(../images/left_door.jpg) left top no-repeat;
}

#navigation ul li a.active{
	text-decoration: none;
	background: url(../images/right_door.jpg) right top no-repeat;
}

#navigation ul li a.active span{
	color: #353535;
	text-decoration: none;
	background: url(../images/left_door.jpg) left top no-repeat;
}

#search_container{
	width: 210px;
	height: 28px;
	float: right;
	margin: 16px 0px 0px 0px;
}

#search_container input#search{
	width: 140px;
	height: 22px;
	background: #fff;
	padding: 6px 0px 0px 0px;
	border: none;
	float: left;
	margin: 0px 2px 0px 0px;
}

#search_container input#searchbtn{
	width: 64px;
	height: 28px;
	background: url(../images/search.jpg) no-repeat;
	border: none;
	float: left;
}

#content{
	width: 960px;
}

#featured{
	font-family: Myriad Pro;
	width: 934px;
	height: 304px;
	padding: 0px 0px 0px 26px;
	background: url(../images/featurebg.jpg) no-repeat;
}

#feature_left{
  font-family: helvetica, arial, sans-serif;
	width: 369px;
	float: left;
	padding: 36px 50px 0px 0px;
}

#feature_left h1 {
  font-weight: bold;
	font-size: 48px;
	color: #777;
	margin: 0px;
}

#feature_left h2 {
  font-weight: normal;
  font-style: italic;
  font-size: 18px;
  color: #777;
  margin-bottom: 20px;
}

#feature_left p{
	font-size: 14px;
	color: #0e486d;
	line-height: 1.5;
	margin: 0px 0px 10px 0px;
}

#view_projects{
	display: block;
	width: 134px;
	height: 25px;
	float: left;
	text-indent: -999999px;
	margin: 0px 10px 0px 0px;
	background: url(../images/viewall.gif) no-repeat;
}

#testimonial{
	display: block;
	width: 119px;
	height: 25px;
	float: left;
	text-indent: -999999px;
	margin: 0px 10px 0px 0px;
	background: url(../images/testimonials.gif) no-repeat;
}

#rotator{
	width: 513px;
	height: 259px;
	float: left;
	margin: 22px 0px 0px 0px;
	background: url(../images/rotatorbg.jpg) no-repeat;
}

#right_button{
	position: absolute;
	width: 39px;
	height: 44px;
	text-indent: -999999px;
	margin: 129px 0px 0px 0px;
	background: url(../images/right.jpg) no-repeat;
}

#left_button{
	position: absolute;
	width: 39px;
	height: 44px;
	text-indent: -999999px;
	margin: 175px 0px 0px 0px;
	background: url(../images/left.jpg) no-repeat;
}

#fadeshow1{
	margin: 6px 0px 0px 42px;
}

#text{
	width: 960px;
	float: left;
	padding: 52px 0px 0px 0px;
	background: #fafafa url(../images/contentbg.jpg) repeat-x bottom;
}

#text.inner{
	padding: 24px 0px 0px 0px;
}

#text h2{
	color: #cf3b8c;
	font-size: 23px;
	font-weight: normal;
	margin: 0px 0px 17px 0px;
}

#text h2 a{
	color: #cf3b8c;
}

#text p{
	line-height: 150%;
	font-size: 12px;
	color: #767272;
}

.text_containers{
	width: 280px;
	float: left;
	padding: 0px 0px 0px 30px;
}

.learnmore{
	display: block;
	width: 107px;
	height: 37px;
	text-indent: -99999px;
	margin: 15px 0px 0px 0px;
	background: url(../images/learnmore.jpg) no-repeat;
}

#footer{
	width: 916px;
	height: 39px;
	margin: 68px 0px 0px 0px;
	padding: 35px 23px 0px 21px;
	background: url(../images/footerbg.gif) repeat-x;
}

#footer.inner{
	margin: 0px 0px 0px 0px;
}

#footer ul li{
	float: left;
	color: #fff;
	font-size: 12px;
	padding: 0px 0px 0px 10px;
	margin: 0px 0px 0px 6px;
	background: url(../images/footerli.gif) center left no-repeat;
}

#footer ul li a{
	color: #fff;
}

#footer ul li.no_bg{
	margin: 0px;
	padding: 0px;
	background: none;
}

#footer p{
	float: right;
	color: #fff;
	font-size: 12px;
}

/*--------------SERVICES-----------------*/

.services_container{
	width: 888px;
	float: left;
	padding: 0px 0px 44px 23px;
}

.services_container p{
	display: block;
	width: 650px;
	line-height: 150%;
	color: #767272;
	float: left;
}

.thumbnail{
	width: 223px;
	height: 186px;
	float: left;
	padding: 3px 0px 0px 3px;
	background: url(../images/thumbbg.jpg) no-repeat;
}

/*--------------PORTFOLIO-----------------*/

.smallthumbnail{
	width: 223px;
	height: 130px;
	float: left;
	padding: 3px 0px 0px 3px;
	background: url(../images/smallthumbnail.jpg) no-repeat;
}

#pagination{
	width: 678px;
	float: right;
	margin: -25px 0px 0px 0px;
	padding: 0px 33px 10px 0px;
}

#pagination p{
	color: #2da1dc;
	font-size: 12px;
}

#pagination p a{
	color: #2da1dc;
}

p.left{
	float: left;
}

p.right{
	float: right;
}

/*----------------CONTACT--------------------*/

#contact_left{
	width: 360px;
	float: left;
	padding: 0px 80px 0px 26px;
}

#contact_right{
	width: 452px;
	float: left;
}

#contact_right input{
	width: 425px;
	height: 26px;
	font-style: italic;
	color: #fff;
	margin: 0px 0px 6px 0px;
	padding: 9px 0px 0px 23px;
	border: 2px solid #d9e0e2;
	background: #1d1d1d;
}

#contact_right textarea{
	width: 425px;
	height: 120px;
	font-style: italic;
	color: #fff;
	overflow: hidden;
	margin: 0px 0px 6px 0px;
	padding: 9px 0px 0px 23px;
	border: 2px solid #d9e0e2;
	background: #1d1d1d;
}

input#sendmail{
	width: 104px;
	height: 37px;
	background: url(../images/sendmail.jpg) no-repeat;
	border: none;
	float: right;
	padding: 0px;
	margin: 0px;
}

/*---------------BLOG------------------*/

#blog{
	width: 921px;
	padding: 0px 0px 0px 23px;
}

#left_column{
	width: 645px;
	float: left;
}

.date_container{
	width: 51px;
	float: left;
	padding: 5px 0px 0px 0px;
}

.date{
	width: 38px;
	height: 53px;
	padding: 10px 0px 0px 13px;
	margin: 0px 0px 5px 0px;
	background: url(../images/datebg.gif) no-repeat;
}

#blog p.big{
	font-size: 27px;
	font-weight: bold;
	color: #fff;
	margin: 0px 0px 0px 0px;
}

.date span{
	color: #9d9d9c;
	font-size: 12px;
}

.commentsno{
	width: 26px;
	height: 17px;
	padding: 2px 0px 0px 25px;
	background: url(../images/commentno.jpg) no-repeat;
}

.commentsno p{
	color: #fff;
}

.post{
	margin: 0px 0px 10px 0px;
	float: left;
}

.entry{
	width: 583px;
	float: left;
	background: #fff;
	padding: 17px 0px 0px 0px;
	border: 1px solid #cecdcc;
}

.text{
	padding: 0px 0px 0px 21px;
}

p.author{
	color: #323232;
	padding: 0px 0px 0px 0px;
}

.entry p{
	color: #767272;
	line-height: 150%;
	margin: 0px 27px 25px 0px;
}

.entry p a{
	color: #323232;
}

.meta{
	width: 538px;
	height: 21px;
	padding: 6px 26px 0px 19px;
	background: #676767;
}

h3.category{
	font-size: 12px;
	padding: 2px 2px 0px 14px;
	margin: 0px;
	color: #fff;
	float: left;
	background: url(../images/folder.jpg) center left no-repeat;
}

h3.tags{
	font-size: 12px;
	padding: 2px 2px 0px 14px;
	margin: 0px;
	color: #fff;
	float: left;
	background: url(../images/tag.jpg) center left no-repeat;
}

p.category{
	color: #fff;
	margin: 0px;
	padding: 0px;
	font-style: italic;
	float: left;
}

p.tags{
	color: #fff;
	margin: 0px;
	padding: 0px;
	font-style: italic;
}

.righttags{
	width: 210px;
	float: right;
}

#sidebar{
	width: 256px;
	float: left;
	padding: 0px 0px 0px 14px;
}

.widget{
	width: 256px;
	float: left;
	padding: 0px 0px 30px 0px;
}

#sidebar h2{
	width: 252px;
	color: #323232;
	font-size: 17px;
	font-weight: bold;
	padding: 0px 0px 12px 7px;
	background: url(../images/sidebarh2bg.jpg) bottom repeat-x;
}

.ad-125{
	float: left;
	width: 125px;
	height: 125px;
	margin: 0px 2px 2px 0px;
	background: url(../images/ad-125.jpg) no-repeat;
}

.widget ul li{
	color: #618619;
	font-size: 12px;
	background: url(../images/widgetli.gif) center left no-repeat;
	padding: 0px 0px 0px 8px;
	margin: 0px 0px 15px 0px;
}


.widget ul li a{
	color: #618619;
}


.replace{
	position:relative;
	/* \*/
	overflow:hidden;
	/* */
}
.replace span{
	display:block;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
}
.skiplink{
	display:none;
}
#wrapper{
	width: 960px;
	margin:0 auto;
	overflow: hidden;
}

#panda {
  background: url('../images/panda-home.png') bottom left no-repeat;
  float: left;
  width: 391px;
  height: 300px;
}

#get-started {
  text-align: right;
  padding: 20px;
}

a.call-to-action,
a.call-to-action:visited {
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  background: #75174c;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ea45a1), to(#75174c));
  background: -moz-linear-gradient(0% 100% 90deg,#75174c, #ea45a1);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

a.call-to-action:focus,
a.call-to-action:hover {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ea7ab8), to(#75174c));
  background: -moz-linear-gradient(0% 100% 90deg,#75174c, #ea7ab8);
}